extends layout

block content
  .w3-container
    if loggedIn
      include search
      each fa in featuredArticles 
        aside.w3-aside.w3-quarter.w3-card
          header.w3-center 
            h1 #{fa.Artist}
            span #{fa.Title}
          .w3-display-container.w3-text-white
            img(src=fa.ImageUri, alt=fa.Artist - fa.Title, style="width:100%")
            .w3-display-bottomright.w3-container
              #{fa.MediaId} #{fa.Price.Currency} #{fa.Price.Amount}
      
    else
      h4 You are not logged in! Please #[a(href="/login") Log In] to continue.
