section.w3-card.w3-threequarter.w3-container
  header
    h1 Our catalog
  form(action="/search" method="post")
    input(type="text" name="searchText" place-holder="type to start searching" value=searchText)
    input(type="text" name="artistStartsWith" hidden="hidden" value=artistStartsWith)
    input(type="submit" value="Search")
  if (artists)
    section.w3-card.w3-half.w3-container
      header
        h2 Artists
      each artist in artists
        p: a(href="search?artist=" + artist) #{artist}
  if (titles)
    section.w3-card.w3-half.w3-container
      header
        h2 Titles
      each title in titles
        p #{title}
if result
  aside.w3-aside.w3-quarter.w3-card.w3-container
    header 
      h2 Tags
    dl.w3-tiny
      dt Total results
      dd #{result.TotalCount}
      each value,key in result.TotalByArticleTags
        dt #{key}
        dd #{value}    
if hits
  each hit in hits.Collection
    article.w3-card.w3-quarter.w3-container(style="height:320px")
      header
        h1 #{hit.Artist}
        span #{hit.Title}
        .w3-right 
          em #{hit.MediaId}
      if hit.Links.cover
        .w3-display-container
          img(src=hit.Links.cover.Href, alt=hit.Id, style="height:150px")
      if hit.Price
        .w3-right 
          em #{hit.Price.Currency} #{hit.Price.Amount}
      p.w3-tiny #{hit.InfoLine}