extends layout

block content
  br
  .w3-container
    .w3-card-4.w3-center(style="padding: 15px;")
      img(src=user.picture)
      p Welcome #{user.nickname}
      p your account number is #{user.accountNumber}
    each sha in shippingAddresses
      .w3-card.w3-half(style="padding: 15px;")
        header
          h1 #{sha.ShippingAddressNumber}
        p #{sha.Description}
        p Invoice number #{sha.InvoiceNumber}